{% extends 'administrador/base.html.twig' %}

{% block option %}
    <h3>Menú opciones</h3>
    <br>
    {%for message in	app.flashes('error') %}
        <div class="flash-error"><div class="alert alert-danger">	{{message}}	</div></div>
    {% endfor %}
    {%for message in	app.flashes('ok') %}
        <div class="flash-ok"><div class="alert alert-success">	{{message}}	</div></div>
    {% endfor %}
    <ul>
        <li><a href="{{ path('admin_usuarios_index') }}">Gestión de Usuarios</a></li>
        <li href="#"><a href="{{ path('admin_tiposaplicacion_index')}}">Gestión de tipos de aplicación</a></li>
        <li href="#"><a href="{{ path('admin_carateristicas_index')}}">Gestión de caracteristicas</a></li>

    </ul>
{% endblock %}

