{% extends 'base.html.twig' %}

{% block title %}{{ 'Resumen'|trans({}, 'public')}}{% endblock %}

{% block body %}
    <h1>{{ 'Resumen'|trans({}, 'public')}}</h1>
    <table class="table">
    {% for pre_tipo_aplicacion in pre_tipo_aplicaciones %}
    <tr>
        {% if locale=='en' %}
            {% for trad in  pre_tipo_aplicacion.traducciones %}
                {% if trad.locale == locale %}
                    <th><b>{{ trad.nombre }}</b></th>
                {% endif %}
            {% else %}
                <th><b>{{ pre_tipo_aplicacion.nombre }}</b></th>
            {% endfor %}
        {% else %}
            <th><b>{{ pre_tipo_aplicacion.nombre }}</b></th>
        {% endif %}
        <th><b>{{ pre_tipo_aplicacion.preciobase }} €</b></th>
    </tr>
        {% for pre_caracteristica in pre_caracteristicas %}
            <tr>
                {% if pre_caracteristica.tipoaplicacion.id == pre_tipo_aplicacion.id %}
                    {% if locale=='en' %}
                        {% for trad in  pre_caracteristica.traducciones %}
                            {% if trad.locale == locale %}
                                <td>{{ trad.nombre }}</td>
                            {% endif %}
                        {% else %}
                            <td>{{ pre_caracteristica.nombre }}</td>
                        {% endfor %}
                    {% else %}
                        <td>{{ pre_caracteristica.nombre }}</td>
                    {% endif %}
                <td>+ {{ pre_caracteristica.preciobase }} €</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
    <br><br>
    {% if otras %}
    <table>
        <tr>
            <td>{{ 'Otras'|trans({}, 'public')}} : {{ otras }}</td>
        </tr>
    </table>
    {% endif %}
    <br><br>
    <h3>{{ 'Total:'|trans({}, 'public')}} {{ total }} €</h3>
    <br><br>
    <p><b>{{ '***El presupuesto es orientativo. Un comercial se pondrá en contacto con usted en la mayor brevedad posible.***'|trans({}, 'public')}}</b></p>
    <br><br>
    <a href="{{ path('app_home') }}">{{ 'Volver'|trans({}, 'public')}}</a>
{% endblock %}