{% extends 'base.html.twig' %}

{% block title %}Proyecto{% endblock %}

{% block body %}
    <h1>{{ 'Proyecto'|trans({}, 'public') }}</h1>

    {% if proyecto %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans({}, 'public') }}</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Fecha entrega'|trans({}, 'public') }}</th>
                <td>{{ proyecto.presupuesto.fechaEntrega|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>{{ 'Presupuesto final'|trans({}, 'public') }}</th>
                <td>{{ proyecto.presupuesto.preciofinal }}</td>
            </tr>

            <tr>
                <th>{{ 'Estado'|trans({}, 'public') }}</th>
                <td>{{ proyecto.estado }}</td>
            </tr>
            <tr>
                <th>{{ 'Progreso'|trans({}, 'public') }}</th>
                <td>{{ progreso }}</td>
            </tr>

        </tbody>
    </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'No existe el proyecto'|trans({}, 'public') }}
        </div>
    {% endif %}

    <a href="{{ path('app_home') }}">Inicio</a>

{% endblock %}
