{% extends 'email/base.html.twig' %}
{% block bodyemail %}
    <h1>{{  'Tarea terminada por el tecnico '|trans({}, 'email', locale)}} {{ tarea.tecnico.email}}</h1>
    <h5>{{ 'Tarea:'|trans({}, 'email', locale)}}</h5>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Id'|trans({}, 'email', locale)}}</th>
            <td>{{ tarea.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Descripcion'|trans({}, 'email', locale)}}</th>
            <td>{{ tarea.descripcionCorta }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}